.item{
    grid-area: content;
    background-color: rgb(255, 241, 214);
    /* border: black solid 1px; */
    margin: 0.5em;
    margin-right: 0;
    margin-left: 0;
    padding: 0.5em;
    box-shadow: 0 0 5px whitesmoke;
}

.item img{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
