.app-wraper{
  display: grid;
  grid-template-areas: 
  "header header "
  "nav content "
  ;
  grid-template-rows: 4em 1fr;
  grid-template-columns: 10em 9fr;
  grid-gap: 10px;
  padding: 3em;
  padding-top: 0em;
  
}
.app-wrapper-content{
    grid-area: content;
    background-color: wheat;
}
